version: "3"

services:
  cato-api-explorer:
    build: .
    volumes:
    - ./src/:/var/www/html
    ports:
    - 8084:8080
    - 8443:443
    environment:
      TZ: ${TZ:-UTC}
      CONTAINER_NAME: cato-api-explorer

